* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #161616;
	font-family: "Montserrat", sans-serif;
	scrollbar-color: #555 transparent;
	scrollbar-width: thin;
	height: 100vh;
}

main {
	display: flex;
	padding: 3rem 6rem;
	height: 90%;
}

#left {
	background-color: #1d1d21;
	flex: 1 1 auto;
	width: 5%;
	border-radius: 50px;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.profile__div {
	display: flex;
	align-items: center;
	gap: 2rem;
	padding-bottom: 2rem;
	border-bottom: 3px solid #161616;
	border-radius: 20px;
}

.profile__img {
	width: 48px;
	height: 48px;
	border: 2px solid white;
	margin-left: 2rem;
	border-radius: 9999px;
}

.username__text {
	color: white;
	font-size: 1rem;
	font-weight: 500;
}

.menu__div {
	display: flex;
	flex-direction: column;
	padding: 2rem 0;
	gap: 2rem;
}

.menu__item {
	height: 3rem;
	border-radius: 10px;
	background-color: #161616;
}

.menu__item:hover {
	background-color: #595959;
	cursor: pointer;
}

.logout__div {
	align-self: center;
}

.logout__button {
	background-color: transparent;
	border: none;
	color: white;
	font-size: 1rem;
	font-weight: 450;
	cursor: pointer;
}

#right {
	flex-grow: 5;
	overflow: auto;
	color: white;
}

.vault__div {
	height: 300vh;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 0 2rem;
}

.vault__item {
	flex: 0 0 auto;
	background-color: #1d1d21;
	border-radius: 20px;
	height: 4rem;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #555;
	border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
	background: #666;
}
