.footer__container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.footer__link:hover {
	text-decoration: underline;
}

@media (max-width: 899px) {
	footer {
		background-color: #FAFAF7;
		padding: 0.6rem 1rem;
	}

	.footer__link {
		text-decoration: none;
		padding-right: 1rem;
		color: black;
		font-size: 0.6rem;
	}

	.footer__text--center {
		text-align: center;
		font-size: 0.6rem;
	}

	svg {
		width: 5rem;
	}
}

@media (min-width: 900px) {
	footer {
		background-color: #FAFAF7;
		padding: 0.2rem 4rem;
	}

	.footer__link {
		text-decoration: none;
		padding-right: 2rem;
		color: black;
		font-size: 0.8rem;
	}

	.footer__text--center {
		text-align: center;
		font-size: 0.8rem;
	}
}