footer {
	border-top: 1px solid var(--accent-color);
	padding: 0 4rem;
	margin: 0 8rem;
}

.footer__container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.footer__link {
	padding-right: 2rem;
	font-size: 0.8rem;
	text-decoration: none;
	color: var(--primary-color);
}

.footer__link:hover {
	text-decoration: underline;
}

.footer__text--center {
	font-size: 0.8rem;
	transform: translateY(-0.5rem);
	padding-top: 0.5rem;
	text-align: center;
}

svg {
	width: 25%;
	fill: var(--primary-color);
}

.svg__git {
	width: 100%;
	max-width: 4.5rem;
}

@media (max-width: 899px) {
	footer {
		margin: 0 2rem;
		padding: 0.6rem 0rem;
	}

	.footer__link {
		padding-right: 1rem;
		font-size: 0.6rem;
		white-space: nowrap;
	}

	.footer__text--center {
		font-size: 0.6rem;
		transform: translateY(0);
	}

	.svg__git {
		width: 80%;
	}
}