.profile__div {
	display: flex;
	align-items: center;
	gap: 2rem;
	padding: 1rem 0;
	border-bottom: 3px solid var(--secondary-color);
	border-top: 3px solid var(--secondary-color);
	border-radius: 20px;
}

.profile__img {
	width: 48px;
	height: 48px;
	border: 2px solid var(--secondary-color);
	background-color: var(--secondary-color);
	margin-left: 1rem;
	border-radius: 9999px;
}

.username__text {
	color: black;
	font-size: 1rem;
	font-weight: 500;
}
.menu__div {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex: 2;
	padding: 2rem 0;
	gap: 2rem;
}

.menu__item {
	height: 3rem;
	border-radius: 20px;
	background-color: var(--secondary-color);
}

.menu__item:hover {
	background-color: #a0a5b0;
	cursor: pointer;
}

.menu__item--add {
	line-height: 2.8rem;
	display: flex;
	justify-content: center;
	font-size: 3rem;
	font-weight: 900;
	color: var(--primary-color);
	border: none;
}

.logout__div {
	align-self: center;
}

.logout__button {
	background-color: transparent;
	border: none;
	color: black;
	font-size: 1rem;
	font-weight: 450;
	cursor: pointer;
}