svg {
	width: 30%;
	fill: var(--primary-color);
	cursor: pointer;
}

a {
	cursor: pointer;
	text-decoration: none;
	transition: opacity 0.3s ease;
	font-weight: 600;
}

a:hover {
	opacity: 0.7;
}

header {
	border-bottom: 1px solid var(--accent-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 3.8rem;
	margin: 1% 8rem;
	padding: 0 2rem;
	box-sizing: border-box;
}

.header__nav {
	display: flex;
	gap: 1.5rem;
	align-items: center;
}

.header__menu {
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 26px;
	height: 18px;
	background: transparent;
	border: none;
	cursor: pointer;
	z-index: 10;
}

.header__menu span {
	height: 3px;
	width: 100%;
	background: var(--primary-color);
	border-radius: 2px;
	transition: all 0.3s ease;
}

.header__menu.active span:nth-child(1) {
	transform: translateY(7.5px) rotate(45deg);
}

.header__menu.active span:nth-child(2) {
	opacity: 0;
}

.header__menu.active span:nth-child(3) {
	transform: translateY(-7.5px) rotate(-45deg);
}

.header__link {
	font-size: 1rem;
	color: var(--primary-color);
}

.header__link--fancy {
	border-radius: 9999px;
	color: var(--secondary-color);
	padding: 0.6rem 1.2rem;
	background-color: var(--primary-color);
}

@media (max-width: 899px) {
	header {
		margin: 1% 1rem;
		padding: 0 1.5rem;
		position: relative;
	}

	.header__menu {
		display: flex;
		align-items: center;
	}

	.header__nav {
		position: absolute;
		top: 55px;
		right: 1rem;
		flex-direction: column;
		background: var(--secondary-color);
		border: 1px solid var(--accent-color);
		padding: 1rem;
		border-radius: 12px;
		display: none;
		gap: 1rem;
		z-index: 100;
	}

	.header__nav.open {
		display: flex;
	}

	.header__nav a {
		padding: 0.5rem 1rem;
		text-align: center;
	}
}