<app-header />

<main>
    <div class="form-container">
        <form (ngSubmit)="submit()" (keydown.enter)="submit(); $event.preventDefault()">
            <div>
                <h1 class="auth__text--large">{{ isSignup ? 'Sign up' : 'Sign in' }}</h1>
                <p class="auth__text auth__link--toggle">
                    @if (isSignup) { Create an account or <a href="#" (click)="isSignup = false; errorMessage = ''; validationErrors = []; $event.preventDefault()">Sign In</a> }
                    @else { Sign in or <a href="#" (click)="isSignup = true; errorMessage = ''; validationErrors = []; $event.preventDefault()">Create an account</a> }</p>
            </div>

            <div class="field--wrapper">
                <label class="auth__text" for="username">Username</label>
                <input class="auth__input" type="text" id="username" name="username" [(ngModel)]="username" required>

                <label class="auth__text" for="password">Password</label>
                <input class="auth__input" type="password" id="password" name="password" [(ngModel)]="password" required>
            </div>
            <button type="submit" class="header__link header__link--fancy">{{ isSignup ? 'Sign Up' : 'Sign In' }}</button>
        </form>

        @if (errorMessage) {
            <div class="error-message">
                {{ errorMessage }}
            </div>
        }
        @if (validationErrors.length > 0) {
            <div class="validation-errors">
                <ul>
                    @for (error of validationErrors; track error) {
                        <li>{{ error }}</li>
                    }
                </ul>
            </div>
        }
    </div>
</main>