main {
    height: 100vh;
    background-color: var(--secondary-color);
    display: flex;
}

app-vault-nav {
    border-right: 1px solid var(--accent-color);
    flex: 1 1 0;
    padding: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

app-vault-list {
    flex : 1 1 0;
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    overflow: hidden;
    padding-top: 0.5rem;
}

app-vault-details {
    flex : 2 1 0;
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem;
    overflow: scroll;
}

app-vault-settings {
    flex : 1 1 0;
    max-width: 30rem;
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem;
    overflow: scroll;
    align-items: center;
}

.vault-content {
    flex: 18 1 auto;
    margin: 3rem;
    border-radius: 10px;
    padding: 2rem 3rem;
    display: flex;
    gap: 2rem;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: transparent
}

::-webkit-scrollbar-thumb {
	background: var(--accent-color);
	border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--accent-color);
}

@media (max-width: 899px) {
	app-vault-nav {
		border-right: none;
		padding: 0;
		flex: 0;
		position: relative;
	}

	.vault-content {
		flex: 1;
		margin: 1rem;
		padding: 1rem;
		flex-direction: column;
	}

	app-vault-list,
	app-vault-details {
		flex: 1;
		border: none;
		padding: 0;
		padding-top: 2rem;
	}

	app-vault-settings {
		flex: 1;
		max-width: 100%;
		border: none;
		padding: 1rem;
		padding-top: 4rem;
	}
}