.profile__div {
	display: flex;
	justify-content: space-evenly;
	line-height: 2.5rem;
	gap: 1rem;
	padding: 0.5rem 0;
	border-bottom: 1px solid var(--primary-color);
	overflow: hidden;
}

.profile__img {
	width: 42px;
	height: 42px;
	border: 1px solid var(--primary-color);
	background-color: var(--secondary-color);
	border-radius: 9999px;
}

.username__text {
	color: var(--primary-color);
	font-size: 1rem;
	font-weight: 600;
	flex: 2;
}

.menu__div {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex: 2;
	padding: 2rem 0;
	gap: 2rem;
}

.menu__item {
	border: 1px solid var(--primary-color);
	background-color: var(--secondary-color);
	height: 2.6rem;
	border-radius: 10px;
	line-height: 0rem;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.2s ease-in-out;
}

.menu__item:hover,
.action__button:hover {
	cursor: pointer;
    box-shadow: inset 0 0 30px var(--accent-color);
}

.menu__item-text {
	font-weight: 700;
	font-size: 0.9rem;
	color: var(--primary-color);
}

.menu__item--add {
    width: 25%;
    height: 5%;
    align-self: center;
	font-size: 1.5rem;
	border: 1px dashed var(--primary-color);
}

.action__div {
	align-self: center;
	display: flex;
	gap: 1rem;
	text-wrap: nowrap;
}

.action__button {
	border: 1px solid var(--primary-color);
	background-color: var(--secondary-color);
	border-radius: 20px;
	padding: 0.5rem 1rem;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}