.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

:host {    
	background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
	display: flex;
	flex-direction: column;
	flex: 1;
}

@media (max-width: 899px) {
	.hero__text {
		flex: 1;
		text-align: center;
		font-weight: 450;
		font-size: 1.2rem;
		margin: 1rem 1rem;
		color: var(--text-color);
	}

	.display__container {
		flex: 1;
		margin: 0rem 1rem;
	}

	.display__item {
		flex: 0 1 100%;
		background-color: var(--primary-color);
		border-radius: 30px;
		padding: 1rem;
		margin-bottom: 1rem;
		max-width: 35rem;
		max-height: 25rem;
		transition: all 0.3s ease;
		flex-direction: column;
		overflow: hidden;
		gap: 2rem;
	}

	.display__item:last-child {
		display: none;
	}
}

@media (min-width: 900px) {
	.hero__text {
		flex: 1;
		text-align: center;
		text-wrap: nowrap;
		font-weight: 450;
		font-size: 2rem;
		margin: 1rem 20%;
		color: var(--primary-color);
		cursor: default;
	}

	.flip {
		display: inline-block;
		perspective: 800px;
		color: var(--primary-color);
	}

	.flip::before {
		content: attr(data-front);
		display: inline-block;
		transition: all 0.5s ease;
		transform-origin: top;
		transform: rotateX(0);
		opacity: 1;
	}

	.flip::after {
  		content: attr(data-back);
  		position: absolute;
  		left: 0;
  		top: 0;
  		transition: all 0.5s ease;
  		transform-origin: bottom;
 		transform: rotateX(-90deg);
		margin-left: 0.5rem;
  		opacity: 0;
	}

	.hero__text:hover .flip::before {
  		transform: rotateX(90deg);
  		opacity: 0;
	}

	.hero__text:hover .flip::after {
  		transform: rotateX(0);
  		opacity: 1;
	}

	.display__container {
		flex: 1;
		gap: 8rem;
		margin: 0rem 6rem;
	}

	.display__item {
		flex: 0 1 50%;
		border-radius: 30px;
		border: 1px solid var(--accent-color);
		padding: 3rem;
		margin-bottom: 1rem;
		max-width: 32rem;
		height: 34rem;
		transition: transform 0.3s ease-out, border 0.3s ease;
		flex-direction: column;
		overflow: hidden;
		display: flex;
		justify-content: space-between;
	}	
}

.display__item:hover {
	transform: scale(1.05);
	border: 1px var(--secondary-color) solid;
}

.display__text {
	font-size: 1.3rem;
	font-weight: 450;
	text-align: center;
	color: var(--primary-color);
}