:host {    
	background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.center {
	display: flex;
	justify-self: center;
	align-items: center;
}

img {
	width: 350px;
	height: 350px;
	border-radius: 12px;
}

app-header,
app-footer {
	align-self: center;
	width: 100%;
	max-width: 150rem;
}

main {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.display__item {
	border: 1px solid var(--accent-color);
	border-radius: 30px;
	padding: 1rem;
	margin-bottom: 1rem;
	transition: transform 0.3s ease, border 0.3s ease;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.display__item:hover {
	transform: scale(1.05);
	border-color: var(--secondary-color);
}

.display__text {
	font-size: 1.3rem;
	font-weight: 450;
	text-align: center;
	color: var(--primary-color);
}

@media (max-width: 899px) {
	.hero__text {
		display: none;
	}

	.display__container {
		flex: 1;
		margin: 0 1rem;
	}

	.display__item {
		max-width: 35rem;
		gap: 4rem;
		border: none;
	}

	img {
		border: 1px solid var(--accent-color)
	}

	.display__item:last-child {
		display: none;
	}
}

@media (min-width: 900px) {
	.hero__text {
		text-align: center;
		text-wrap: nowrap;
		font-weight: 450;
		font-size: 1.6rem;
		margin: 5rem 20%;
		color: var(--primary-color);
		cursor: default;
	}

	.flip {
		display: inline-block;
		perspective: 800px;
	}

	.flip::before {
		content: attr(data-front);
		display: inline-block;
		transition: all 0.5s ease;
		transform-origin: top;
		opacity: 1;
	}

	.flip::after {
  		content: attr(data-back);
  		position: absolute;
  		left: 0;
  		top: 0;
  		transition: all 0.5s ease;
  		transform-origin: bottom;
 		transform: rotateX(-90deg);
		margin-left: 0.5rem;
  		opacity: 0;
	}

	.hero__text:hover .flip::before {
  		transform: rotateX(90deg);
  		opacity: 0;
	}

	.hero__text:hover .flip::after {
  		transform: rotateX(0);
  		opacity: 1;
	}

	.display__container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 1;
		gap: 8rem;
		margin: 0 6rem;
	}

	.display__item {
		flex: 0 1 50%;
		padding: 3rem;
		max-width: 32rem;
		height: 34rem;
		justify-content: space-between;
	}	
}