<app-header />

<main class="center">
	<h1 class="hero__text">The&nbsp;<span class="flip" data-front="only" data-back="last"></span>&nbsp;password manager you'll ever need.</h1>
	<div class="display__container center">
		<div class="display__item center">
			<img src="assets/land-1.png">
			<h2 class="display__text">Fast and easy access when you need it most.</h2>
		</div>
		<div class="display__item center">
			<img src="assets/land-2.png">
			<h2 class="display__text">Access account information at a glance.</h2>
		</div>
	</div>
</main>


<app-footer />