@import '../../styles/mixins'; 

:host {    
	background-color: #DEDCD8;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
	display: flex;
	flex-direction: column;
	flex: 1;
}

@media (max-width: 899px) {
	.hero__text {
		@include flex-center();
		flex: 1;
		text-align: center;
		font-weight: 450;
		font-size: 1.2rem;
		margin: 1rem 1rem;
		color: #251752;
	}

	.display__container {
		@include flex-center();
		flex: 1;
		margin: 0rem 1rem;
	}

	.display__item {
		@include flex-center();
		flex: 0 1 100%;
		background-color: #FAFAF7;
		border-radius: 30px;
		padding: 1rem;
		margin-bottom: 1rem;
		max-width: 35rem;
		max-height: 25rem;
		transition: background-color 0.3s ease-out, transform 0.3s ease;
		flex-direction: column;
		overflow: hidden;
		gap: 2rem;
	}

	.display__item:hover {
		background-color: #DBDAD6;
		transform: scale(1.05);
	}

	.display__item:last-child {
		display: none;
	}

	.display__text {
		font-size: 1.3rem;
		font-weight: 450;
		text-align: center;
		color: #251752;
	}
}

@media (min-width: 900px) {
	.hero__text {
		@include flex-center();
		flex: 1;
		text-align: center;
		font-weight: 450;
		font-size: 1.8rem;
		margin: 1rem 15rem;
		color: #251752;
	}

	.display__container {
		@include flex-center();
		flex: 1;
		gap: 8rem;
		margin: 0rem 6rem;
	}

	.display__item {
		@include flex-center();
		flex: 0 1 50%;
		background-color: #FAFAF7;
		border-radius: 30px;
		padding: 3rem;
		margin-bottom: 1rem;
		max-width: 32rem;
		height: 36rem;
		transition: background-color 0.3s ease-out, transform 0.3s ease;
		flex-direction: column;
		overflow: hidden;
		display: flex;
		justify-content: space-between;
	}

	.display__item:hover {
		background-color: #DBDAD6;
		transform: scale(1.05);
	}

	.display__text {
		font-size: 1.4rem;
		font-weight: 450;
		text-align: center;
		color: #251752;
	}	

}