  <div class="item-display__info">
    <div class="item-display__avatar">TI</div>
    <div>
      <p class="item-display__title">Title</p>
      <p class="item-display__username">Username</p>
    </div>
  </div>

  <form class="item-display__form">
    <div class="item-display__field">
      <label>Title</label>
      <input class="item-display__input" type="text" id="title" name="title" value="Title" required>
    </div>
    <div class="item-display__field">
      <label>Username</label>
      <input class="item-display__input" type="text" id="username" name="username" value="Username" required>
    </div>
    <div class="item-display__field">
      <label>Password</label>
      <input class="item-display__input" type="text" id="password" name="password" value="Password" required>
    </div>
    <div class="item-display__field">
      <label>URL</label>
      <input class="item-display__input" type="text" id="url" name="url" value="URL">
    </div>

    <div class="item-display__buttons">
      <button type="submit" class="item-display__button">Save</button>
      <button type="button" class="item-display__button">Delete</button>
    </div>
  </form>

