@if (item) {
  <div class="item-display__info">
    <div class="item-display__avatar">{{ getInitials(vaultDetailForm.title) }}</div>
    <div>
      <p class="item-display__title">{{ vaultDetailForm.title }}</p>
      <p class="item-display__username">{{ vaultDetailForm.username }}</p>
    </div>
  </div>

  <form class="item-display__form" (ngSubmit)="update()">
    <div class="item-display__field">
      <label>Title</label>
      <input class="item-display__input" type="text" id="title" name="title" [(ngModel)]="vaultDetailForm.title" required>
    </div>
    <div class="item-display__field">
      <label>Username</label>
      <input class="item-display__input" type="text" id="username" name="username" [(ngModel)]="vaultDetailForm.username" required>
    </div>
    <div class="item-display__field">
      <label>Password</label>
      <input class="item-display__input" type="text" id="password" name="password" [(ngModel)]="vaultDetailForm.password_encrypted" required>
    </div>
    <div class="item-display__field">
      <label>URL</label>
      <input class="item-display__input" type="text" id="url" name="url" [(ngModel)]="vaultDetailForm.url">
    </div>

    <div class="item-display__edit">
    <div class="buttons">
        <button type="submit" class="item-display__button">Save</button>
        <button type="button" class="item-display__button" (click)="delete()">Delete</button>
    </div>

      @if (error) {
        <div class="message" [class.fade-out]="messageFading">
          <p>{{ error }}</p>
        </div>
      }
      @if (success) {
        <div class="message" [class.fade-out]="messageFading">
          <p>{{ success }}</p>
        </div>
      }
    </div>

  </form>
}
