* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-color: var(--secondary-color) transparent;
	scrollbar-width: thin;
}

body {
    height: 100vh;
    background-color: var(--secondary-color);
    display: flex;
}

app-navigation {
    background-color: var(--primary-color);
    flex: 1 1 auto;
    padding: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

app-vault {
    background-color: var(--primary-color);
    flex: 18 1 auto;
    margin: 3rem;
    border-radius: 30px;
    padding: 2rem 3rem;
    display: flex;
    gap: 1rem;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #555;
	border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
	background: #666;
}