@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@100..900&display=swap');

@media (prefers-color-scheme: light), (prefers-color-scheme: dark) {
    :root {
        --primary-color: #32302f;
        --secondary-color: #fcfcfc;
        --accent-color: #bfbfbf;
    }
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "noto serif georgian", serif;
}